name: Build Toolchain

on:
  workflow_dispatch:

jobs:
  build-toolchain:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y 
            build-essential git unzip rsync wget bzip2 cpio bc gperf bison flex 
            texinfo help2man gawk libssl-dev libncurses5-dev libncursesw5-dev 
            python3 python3-pip python3-venv python3-setuptools python3-wheel 
            python-is-python3 libtool libtool-bin autoconf automake libexpat1-dev 
            libgmp-dev libmpfr-dev libmpc-dev libisl-dev ninja-build cmake 
            device-tree-compiler curl libusb-1.0-0 libusb-1.0-0-dev

    - name: Build dynconfig
      run: |
        git clone https://github.com/jcmvbkbc/xtensa-dynconfig -b original --depth=1
        git clone https://github.com/jcmvbkbc/config-esp32s3 esp32s3 --depth=1
        make -C xtensa-dynconfig ORIG=1 CONF_DIR=`pwd` esp32s3.so

    - name: Build Crosstool-NG and Toolchain
      run: |
        export XTENSA_GNU_CONFIG="$(pwd)/xtensa-dynconfig/esp32s3.so"
        git clone https://github.com/jcmvbkbc/crosstool-NG.git -b xtensa-fdpic --depth=1
        cd crosstool-NG
        ./bootstrap
        ./configure --enable-local
        make
        ./ct-ng xtensa-esp32s3-linux-uclibcfdpic
        ./ct-ng build || (tail -n 100 build.log && exit 1)

    - name: Package Toolchain
      run: |
        tar -czf xtensa-esp32s3-linux-uclibcfdpic.tar.gz -C $HOME/x-tools xtensa-esp32s3-linux-uclibcfdpic

    - name: Upload Release
      uses: softprops/action-gh-release@v2
      with:
        files: xtensa-esp32s3-linux-uclibcfdpic.tar.gz
        tag_name: toolchain
        name: ESP32-S3 Toolchain
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
